{% extends "template.html" %}
{% block title %}Telephone{% endblock %}
{% block content %}
<div class="content">
    <form id="telephoneForm" action="{{ request.path }}/update" method="post">
        <input id="{{ telephone.id }}" type="hidden" name="id">
        <input id="number" type="text" name="number" class="productIcon" placeholder="Number" value="{{ telephone.number }}" required><br>
    </form>
</div>

<ul class="tileActions">
    <a href="/addressBooks/{{ address_book_id }}/contacts/{{ contact_id }}"><li class="tile goBackIcon">Back</li></a>
    <a href="{{ request.path }}/delete"><li class="tile deleteIcon">Remove</li></a>
    <a onclick="getElementById('telephoneForm').submit();"><li class="tile saveIcon">Save</li></a>
</ul>
{% endblock %}
